.search-form {
	width: 300px;
	border: 1px solid lighten($main-2, 20%);
	border-radius: 2px;
	color: #fff;
	display: flex;

	@media screen and (max-width:800px) {
		width: 80%;
	}
	
	@media screen and (max-width:450px) {
				
	}

	input {
		flex: 3;
		min-width: 150px;
		padding: 10px 0 10px 35px;
		background-color: lighten($main-2, 2%);
		margin: 0;
		color: inherit;

		&::placeholder {
			color: #fff;
			font-weight: 200;
			font-family: "Montserrat";
			letter-spacing: 0.5px;
		}

		@media screen and (max-width:450px) {
			padding-left: 8px;
			flex: 1;	
		}
	}

	button {
		flex: 1;
		background-color: lighten($main-2, 2%);
		cursor: pointer;
		color: #fff;
		transition: 0.5s;

		i {
			color: inherit;
			font-size: 18px;

		}
		
		&:hover {
			background-color: lighten($main-2, 7%);
			color: $txt-active;
		}

		@media screen and (max-width:450px) {
			padding: 5px;
			
		}
	}
}

.subscribe__form {
	flex: 1;
	display: flex;
	justify-content: space-around;
	padding: 0 10px;

	@media screen and (max-width:720px) {
		width: 90%;
		justify-content: space-around;
		flex-direction: column;
		
		input[type="text"] {
			margin: 0;
		}

		input[type="email"]{
			margin: 50px 0 0;
		}

	}

	input {
		flex: 1;
		margin: 0 15px;
		padding: 20px 0 20px 40px;
		box-shadow: 0 2px 10px 0 $txt-active;
		border-radius: 3px;
		min-width: 300px;

		&::placeholder {
			color: $txt-2;
			font-size: $xx-small;
			letter-spacing: 1px;
			font-family: "Montserrat"
		}
	}
}

.main-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	&__item {
		box-shadow: 0 3px 10px 0 $txt-2;
		margin-bottom: 35px;
		padding: 15px 25px;
		outline: none;
		&::placeholder {
			color: $txt-2;
			font-size: $xx-small;
		}

		&:focus {
			box-shadow: 0 0 15px 0 $main-2;
		}
	}

	input[type="name"],
	input[type="email"]{
		flex: 0 1 48%;

		@media screen and (max-width: 600px) {
			flex: 0 1 100%;
		}
	}

	input[type="text"],
	textarea {
		flex: 0 1 100%;
	}

	input[type="submit"] {
		background-color: #fff;
		margin: 0 auto;
		&:hover {
			background-color: $main-1;
		}
	}
}