.header-main {
	background: $main-2 url(../img/waves.png) no-repeat 50% 110%;
	padding-bottom: 180px;
}

.header-main__navegation {
	display: flex;
	height: 100px;
	justify-content: space-between;
	align-items: center;
	position: relative;


	h1 {
		@media screen and (max-width:800px) {
			font-size: $large;
		}
	}
}

.header-main__content {
	margin-top: 100px;
	text-align: center;
	color: #fff;
	h2, p {
		position: relative;
		// top:-200px;
		// left: 200px;
		opacity: 0;
		// background-color: red;
		
	}
	h2 {
		animation: appearTop 0.9s ease 0.3s forwards;
	}
	p {
		width: 70%;
		margin: 30px auto 45px;
		animation: appearBott 0.9s ease 0.3s forwards;
	}

	a {
		margin: 0 auto;
	}
}

@keyframes appearTop{
	0% {top:-75px; opacity: 0;}
	100% {top:0px; opacity: 1;}
}

@keyframes appearBott{
	0% {top: 100px; opacity: 0;}
	100% {top:0px; opacity: 1;}
}