.ly-portfolio {
	padding-top: 75px;
	overflow: hidden;
	@media screen and (max-width: 768px) {
		padding: 0;
	}
}
.portfolio__container {
	display: flex;
	align-items: center;
	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}

.portfolio {
    background-color: $bg-2;
	padding: 75px 0;

	@media screen and (max-width: 768px) {
		padding: 0;

	}
	&__nav {
		min-width: 250px;
		text-align: right;
		padding: 30px;

		@media screen and (max-width: 768px) {
			

			li a {
				padding: 10px;
			}
		}

		a {
			display: block;
			padding: 15px;
			color: $txt-2;
			font-size: $xx-small;

			&.active,
			&:hover {
				color: $main-1;
				background-color: #FFF;
				text-align-last: left;
				box-shadow: 0 0 5px 0 $main-1;
				border: none;
				
			}
		}
	}

	&__slider {
		min-width: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin-top: -150px;
		margin-left: 10px;

		@media screen and (max-width: 768px) {
			margin-top: 0px;
			min-width: 370px;
		}

		.slider__circles {
			margin: 60px 0 65px;

			.circle {
				margin-top: 0;
			}
			.circle__shadow {
				margin-right:20px;
			}
		}
	}

	&__images {
		display: flex;
		flex-wrap: wrap;
		min-width: 800px;
		justify-content: space-between;
		margin-left: 50px;

		@media screen and (max-width: 768px) {
			margin-top: 40px;
			min-width: 100%;
			margin-left: 0;
			justify-content: center;
		}
	}
}

.slider__box {
	box-shadow: 0 0 15px 0 $txt-active;
	text-align: center;
	border-radius: 3px;
	img {
		width: 100%;
	}

	p {
		padding: 20px;
		font-size: $x-small;
		font-weight: 500;

		span {
			margin-left: 50px;
			font-weight: 300;
		}
	}
}

.portfolio__image {
	margin: 5px;
	flex: 1 1 250px;
	max-width: 350px;
	img {
		width: 100%;
	}
}