.header-main__404 {
	height: 100vh;
	background-position: 50% 100%;

	.header-main__navegation {
		height: 50px;
		padding-top: 20px;



		
	}
	.header-main__content {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		height: 70vh;
		justify-content: center;

		@media screen and (max-width: 450px) {
			margin-top: 20px;
		}

		p {
			margin: 10px auto 30px;
		}

		a {
			display: inline-block;
			margin: 10px;
		}


	}
}


.txt-404 {
	font-size: 90px;

	@media screen and (max-width: 450px) {
		font-size: 70px;
	}
}