.productive {
	padding: 80px 0;
	text-align: center;
	
	&__content {
		text-align: left;
		max-width: 800px;
		margin: 0 auto;

	.para-txt {
		padding-left: 100px;
		padding-right: 50px;
		line-height: 1.8;
	}

	.btn {
		margin-left: auto;
	}

	}



}