// COLORS SITE

$main-1: #0891f9;
$main-2: #078ff7;
$main-3: #0082e5;

$bg-2: #f7f7f7;


//COLORS TEXT

$txt-1: #fff;
$txt-2: #4e4e4e;
$txt-3: $main-1;
$txt-4: #000;
$txt-active: #3a3a3a;


//FONT SIZE

$x-large: 48px;
$large: 36px;
$medium: 30px;
$small: 24px;
$x-small: 18px;
$xx-small: 14px;
$xxx-small: 12px;

// FONTS

$Jack: JackFrost;
