.ly-global {
	padding: 95px 0 70px;
}

.global__container {
	display: flex;

	@media screen and (max-width: 800px) {
		flex-direction: column-reverse;
	}
}

.ly-services {
	background-color: $bg-2;
	text-align: center;
	padding: 85px 0 40px;
}

.empty {
	background-color: pink;
	height: 200px;
}